In [1]:
import pandas as pd
import numpy as np

In [6]:
pd.read_csv("fg_directional_satements-en_ONPP.csv")

  fgid                              directional-statement
0   vf  Eat at least one dark green and one orange veg...
1   vf  Choose vegetables and fruit prepared with litt...
2   vf   Have vegetables and fruit more often than juice.
3   gr  Make at least half of your grain products whol...
4   gr  Choose grain products that are lower in fat, s...
5   mi               Drink skim, 1%, or 2% milk each day.
6   mi                Select lower fat milk alternatives.
7   me  Have meat alternatives such as beans, lentils ...
8   me  Eat at least two Food Guide Servings of fish e...
9   me  Select lean meat and alternatives prepared wit...

In [7]:
pd.read_csv("foodgroups-en_ONPP.csv")

  fgid              foodgroup  fgcat_id                               fgcat
0   vf   Vegetables and Fruit         0  Non dark green or orange vegetable
1   vf   Vegetables and Fruit         1                Dark green vegetable
2   vf   Vegetables and Fruit         2                    Orange vegetable
3   gr                 Grains         4                     Non whole grain
4   gr                 Grains         3                         Whole grain
5   mi  Milk and Alternatives         5                                Milk
6   mi  Milk and Alternatives         6                  Milk Alternataives
7   me  Meat and Alternatives         7                   Meat Alternatives
8   me  Meat and Alternatives         8   Meat, fish, poultry and shellfish

In [14]:
pd.read_csv("servings_per_day-en_ONPP.csv")

   fgid  gender      ages servings
0    vf  Female    2 to 3        4
1    vf    Male   2 to 3         4
2    vf  Female    4 to 8        5
3    vf    Male    4 to 8        5
4    vf  Female   9 to 13        6
5    vf    Male   9 to 13        6
6    vf  Female  14 to 18        7
7    vf    Male  14 to 18        8
8    vf  Female  19 to 30   7 to 8
9    vf    Male  19 to 30  8 to 10
10   vf  Female  31 to 50   7 to 8
11   vf    Male  31 to 50  8 to 10
12   vf  Female  51 to 70        7
13   vf    Male  51 to 70        7
14   vf  Female       71+        7
15   vf    Male       71+        7
16   gr  Female    2 to 3        3
17   gr    Male    2 to 3        3
18   gr  Female    4 to 8        4
19   gr    Male    4 to 8        4
20   gr  Female   9 to 13        6
21   gr    Male   9 to 13        6
22   gr  Female  14 to 18        6
23   gr    Male  14 to 18        7
24   gr  Female  19 to 30   6 to 7
25   gr    Male  19 to 30        8
26   gr  Female  31 to 50   6 to 7
27   gr    Male  31 to 50        8
28   gr  Female  51 to 70        6
29   gr    Male  51 to 70        7
..  ...     ...       ...      ...
34   mi  Female    4 to 8        2
35   mi    Male    4 to 8        2
36   mi  Female   9 to 13   3 to 4
37   mi    Male   9 to 13   3 to 4
38   mi  Female  14 to 18   3 to 4
39   mi    Male  14 to 18   3 to 4
40   mi  Female  19 to 30        2
41   mi    Male  19 to 30        2
42   mi  Female  31 to 50        2
43   mi    Male  31 to 50        2
44   mi  Female  51 to 70        3
45   mi    Male  51 to 70        3
46   mi  Female       71+        3
47   mi    Male       71+        3
48   me  Female    2 to 3        1
49   me    Male    2 to 3        1
50   me  Female    4 to 8        1
51   me    Male    4 to 8        1
52   me  Female   9 to 13   1 to 2
53   me    Male   9 to 13   1 to 2
54   me  Female  14 to 18        2
55   me    Male  14 to 18        3
56   me  Female  19 to 30        2
57   me    Male  19 to 30        3
58   me  Female  31 to 50        2
59   me    Male  31 to 50        3
60   me  Female  51 to 70        2
61   me    Male  51 to 70        3
62   me  Female       71+        2
63   me    Male       71+        3

[64 rows x 4 columns]

 Volume in drive D is DATA
 Volume Serial Number is A4AA-7FFF

 Directory of D:\Automation\New folder\signal\data

2018-10-17  08:25 AM    <DIR>          .
2018-10-17  08:25 AM    <DIR>          ..
2018-10-17  08:25 AM               664 fg_directional_satements-en_ONPP.csv
2018-10-17  08:25 AM               429 foodgroups-en_ONPP.csv
2018-10-17  08:25 AM             6,471 foods-en_ONPP_rev.csv
2018-10-17  08:25 AM             1,354 servings_per_day-en_ONPP.csv
               4 File(s)          8,918 bytes
               2 Dir(s)  385,196,761,088 bytes free

In [17]:
pd.read_table("foods-en_ONPP_rev.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbd in position 14: invalid start byte